<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: orange;display: flex;align-items: center;justify-content: center;height: 98vh;color: white;">
    <div style="border: 3px solid white;padding: 15px;border-radius: 15px;text-align: center;width: 350px;height: 250px;display: flex;align-items: center;justify-content: center;flex-direction: column;">
        <h1>ERROR</h1>
        <h2>Sorry, there is a problem.</h2>
    </div>
</body>
</html>